
@media only screen and (max-width:767px) {
ul.top-sticky li {
	float: left;
	margin: 0;
	padding: 0px;
	border-left: none;
}
ul.top-sticky li a {
	font-size: 12px;
	color: #231f20;
	text-decoration: none;
	line-height: 10px;
}
.form-popup {
	display: none;
	border: solid #c3161c 1px;
	z-index: 9;
	top: 0px;
	position: absolute;
	right: 18px;
	width: 110px;
}
ul.top-sticky li:nth-child(3) {
	border-left: 3px #231f20 solid;
	padding: 0 4px;
	margin-left: 4px;
}
.btn-default {
	background: none;
	height: 24px;
	padding: 0;
	float: right;
	color: #c3161c;
	border: solid #c3161c 0;
	position: absolute;
	top: -5px;
	right: -15px;
}
.input-group-btn {
	display: inherit;
}
.web-serach-form {
	display: none;
}
.mobile-serach-form {
	display: block;
	padding: 0 15px 0 0;
}
ul.custom-menu-right li:nth-child(1) {
	border-left: 0;
	display: none;
}
.input-group-btn>.btn:active, .input-group-btn>.btn:focus, .input-group-btn>.btn:hover {
	background: #000;
	color: #fff;
	padding: 0 10px;
}
.custom-navbar {
	background: none;
	border: none;
	margin-bottom: 0;
	padding: 20px 0 10px;
	min-height: auto;
}
.navbar-brand {
	float: left;
	height: auto;
	padding: 0 0 10px;
	font-size: 18px;
	line-height: 20px;
}
.navbar-brand img {
	width: 90px;
}
.navbar-toggle {
	position: relative;
	float: left;
	padding: 4px;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 2px;
	background-color: #c3161c;
	background-image: none;
	border: 1px solid #c3161c;
	border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
}
.navbar-default .navbar-toggle {
	border-color: #c3161c;
}
ul.custom-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #c3161c;
}
ul.custom-menu li a {
	font-size: 15px;
	color: #231f20 !important;
	padding: 2px 0;
}
ul.custom-menu-right {
	list-style: none;
	margin: 5px 0 0;
	padding: 0;
}
ul.custom-menu-right li {
	padding: 0;
	border-left: none;
}
ul.custom-menu-right li:nth-child(2) {
	margin-left: 0;
	margin-top: 2px;
	padding-right: 0;
}
.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 170px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	line-height: 1;
	background-size: 100%;
	height: 170px;
}
.carousel-caption {
	position: absolute;
	right: 5%;
	top: 0%;
	left: 5%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: left;
	text-shadow: 0 0 0 rgba(0,0,0,.6);
}
.bennar-text {
	text-align: center;
	width: 100%;
}
.bennar-text h2 {
	font-size: 20px;
	color: #231f20;
	font-style: italic;
	text-align: left;
	margin: 0;
	padding-bottom: 10px;
}
.bennar-text a {
	font-size: 16px;
	color: #fff;
	background: #c3161c;
	padding: 3px 8px;
}
.top-hadding h1 {
	font-size: 15px;
	margin: 0;
	color: #231f20;
	text-align: center;
	padding: 15px 0;
	text-transform: uppercase;
}
.data {
	text-align: center;
	color: #c3161c;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 5px 1px;
	line-height: 20px;
}
.data-price {
	padding-bottom: 5px;
	font-size: 15px;
	color: #000;
	text-align: center;
	font-weight: bold;
	line-height: 15px;
}
.buy-plan a {
	background: #c3161c;
	border-radius: 5px;
	color: #fff;
	padding: 2px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
.data-table {
	background: #e5e5e4;
	padding: 10px 5px 15px;
	margin-top: 10px;
	border-radius: 0 0 5px 5px;
}
.table-home-left {
	padding: 0 7.5px 0 15px;
}
.table-home-right {
	padding: 0 15px 0 7.5px;
}
.data-table table tbody tr td {
	font-size: 10px;
}
.data-table table tbody tr .left-colum {
	width: 40%;
}
.data-table table tbody tr .right-colum {
	width: 60%;
}
.top-hadding h3 {
	font-size: 15px;
	margin: 0;
	color: #231f20;
	text-align: center;
	padding: 0 15px 15px;
	text-transform: uppercase;
}
.sim-advantage ul li label img {
	width: 35px;
	min-height: 35px;
}
.sim-advantage ul li span {
	display: block;
	color: #c3161c;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
}
.sim-advantage ul li {
	float: left;
	padding: 0 0 10px;
	width: 25%;
}
.top-hadding h2 {
	font-size: 15px;
	margin: 0;
	color: #231f20;
	text-align: center;
	padding: 10px 0 10px;
	text-transform: uppercase;
}
#carousel-example-generic2 .carousel-control-arrow {
	display: none;
}
#carousel-example-generic2 .carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 550px;
}
.country-sim-card1 ul li h4 {
	margin: 0;
	font-size: 15px;
	color: #231f20;
	padding: 5px 0 2px;
}
.country-sim-card3 ul li {
	padding: 0;
}
.country-sim-card3 ul li:first-child {
	padding-left: 8%;
}
.country-sim-card3 ul li:nth-child(1) {
	float: left;
}
.country-sim-card3 ul li:nth-child(2) {
	float: right;
}
.country-sim-card3 ul li:nth-child(3) {
	display: none;
}
.country-sim-card3 ul li:nth-child(4) {
	display: none;
}
.country-sim-card3 ul li:nth-child(5) {
	display: none;
}
.country-sim-card3 ul li:nth-child(6) {
	display: none;
}
.country-sim-card3 ul li:nth-child(7) {
	display: none;
}
#carousel-example-generic3 .carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 26px;
}
.country-sim-card1 ul li p {
	color: #231f20;
	font-size: 11px;
	margin: 0;
	padding-bottom: 10px;
}
.country-sim-card3 ul li a {
	text-decoration: none;
	width: 80%;
	float: left;
}
.country-sim-card1 ul li {
	float: left;
	width: 100%;
}
.customer {
	padding-top: 15px !important;
}
.footer {
	background: #000;
	margin-top: 15px;
	padding: 15px 0;
}
.social-icon {
	padding-top: 10px;
	padding-bottom: 15px;
}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
	padding: 5px 15px !important;
}
.bottom-margin {
	margin-bottom: 0;
}
.cart-table {
	border: none;
}
.cart-promo-code {
	padding-top: 0;
}
/*.country-sim-card ul li a img {
	width: 100% !important;
}*/
.country-sim-card ul li {
	display: inline-block;
	width: 98%;
	padding-left: 2%;
}
.bottom-carousel {
	margin-bottom: 0 !important;
}
.country-detail {
	padding: 15px 0 5px !important;
	font-size: 14px !important;
	color: #231f20;
}
.country-text {
	color: #231f20;
	line-height: 20px;
	font-size: 14px;
	text-align: justify;
	padding-bottom: 15px;
}
.country-detail img {
	float: left;
	width: 30px;
}
.country-detail-hadding h2 {
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size: 15px !important;
	color: #231f20;
	text-transform: uppercase;
}
.coutries .table thead tr th {
	font-size: 12px;
	padding: 4px 5px;
}
.coutries .table tbody tr td {
	font-size: 12px;
	padding: 4px 5px;
}
.country-detail img {
	float: left;
	width: 11%;
	padding-top: 5px;
}
.country-detail span {
	float: left;
	width: 78%;
	margin: 0 3%;
}
.delivery-type {
	margin-bottom: 0;
	padding: 0;
}
.coutries {
	padding-bottom: 0;
	margin: 0;
}
#chatForm {
	background-color: #e40e16;
	color: #ffffff;
	width: 270px;
	margin-right: 25%;
	float: right;
	text-align: center;
	display: none;
}
.buy-plan {
	text-align: center;
	clear: both;
	padding: 2px 5px;
}
.call-us {
	position: relative;
}
.chat {
	position: fixed;
	right: 0;
	bottom: -7%;
	width: 75%;
}
ul.call-button {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.call-button li {
	float: left;
	text-align: center;
	width: 50%;
}
.custom-border .panel-body .cart-promo-code .form-group .promo-apply {
	background: #c3161c;
	padding: 3px 6px 5px;
	color: #fff;
	line-height: 30px;
	border-radius: 4px;
	border: solid #c3161c 1px;
}
.custom-border .panel-body .cart-promo-code input {
	height: 30px;
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
	border-radius: 5px;
	width: 80px;
}
.custom-panel {
	background-color: #ebf6f8 !important;
	font-weight: bold;
	font-size: 15px;
	color: #c3161c !important;
	border: solid 1px #ccc;
	padding: 10px;
	border-radius: 0;
	margin-bottom: 5px;
	background-image: none !important;
}
.cart-table table thead tr th {
	border-bottom: 0 solid #000 !important;
	padding: 0px 0px !important;
	font-size: 12px !important;
	background: none;
	color: #000;
	font-weight: bold;
	text-align: left;
}
.cart-table table tbody tr td {
	border-top: 0 solid #000;
	padding: 0px 0px;
	font-size: 11px;
	color: #000;
	font-weight: 400;
}
.buttons_added .minus {
	background: none;
	border: none;
	color: #c3161c;
	padding-right: 5px;
	font-size: 16px;
}
.cart-table .buttons_added {
	float: left;
	margin-right: 0px;
}
.custom-border .panel-body .cart-promo-code .form-group {
	margin: 0;
}
.custom-border .panel-body .cart-promo-code label {
	color: #000;
	font-size: 13px;
}
ul.call-button li a img {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari 3-8 */
	transform: rotate(90deg);
}
ul.call-button li a {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
ul.call-button li:first-child {
	background: none;
	padding: 0;
	margin-bottom: 10px;
	border-radius: 10px 0 0 10px;
}
ul.call-button li:last-child {
	background: none;
	padding: 0;
	border-radius: 10px 0 0 10px;
}
.chat-detail {
	padding: 10px 15px;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.chat-form {
	border-right: solid 1px #e40e16;
	border-left: solid 1px #e40e16;
	background: #fff;
	padding: 15px 20px;
}
.chat-form .form-group span {
	text-align: left;
	color: #e40e16;
	float: left;
}
.chat-form .form-group .name {
	border-bottom: solid 2px #e40e16;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	color: #58595b !important;
	font-size: 16px;
	height: 30px;
	width: 97%;
}
.option-choose {
	clear: both;
	text-align: left;
	padding: 10px 15px 0;
}
.option-choose label {
	display: block;
	color: #58595b;
	font-weight: normal;
	font-size: 15px;
}
.option-choose labe input {
	border: solid 1px #000;
	height: 14px;
	width: 14px;
	background: red;
}
#chatForm .chat-start {
	text-align: center;
	padding: 10px 15px;
}
#chatForm .chat-start a {
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	float: none;
	line-height: 18px;
}
.type-travel {
	font-size: 16px;
	color: #58595b;
	float: left;
}
ul.call-button li:first-child a {
/*float: left;*/
}
ul.call-button li:last-child a {
	float: left;
	height: 76px;
}
}
