body {
	margin: 0;
	padding: 0;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;
}
.custom-navbar {
	background: none;
	border: none;
	margin-bottom: 0;
	min-height: auto;
}
ul.top-sticky {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.country select {
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
}
.country select:focus {
	border: solid 1px #d5d6d7 !important;
	background: #fff !important;
}

ul.top-sticky li {
	display: inline-block;
	margin: 5px 0;
	padding: 2px 4px;
	border-left: 1px #000 solid;
}
ul.top-sticky li a {
	font-size: 13px;
	color: #231f20;
	text-decoration: none;
}
ul.top-sticky li:nth-child(1) {
	border: none;
}
ul.top-sticky li:nth-child(3) {
	border-left: 1px #c3161c solid;
	padding: 0 4px;
}
.mobile-serach-form {
	display: none;
}
.btn-default {
	background: #c3161c;
	height: 24px;
	padding: 0 12px;
	color: #fff;
	border: solid #c3161c 1px;
}
.btn-default:hover {
	background: #000;
	color: #fff;
	border: solid 1px #000;
}
.top-sticky-form {
	border: solid #c3161c 1px;
	height: 24px;
	font-size: 13px;
	width: 100%;
	border-radius: 4px 0 0 4px;
	padding: 0 12px;
}
.navbar-brand {
	float: left;
	height: auto;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
}
.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
.input-group {
	padding: 5px 0 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: none;
	border: none;
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background: none;
}
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #ab3b28;
	border: 1px solid #ab3b28;
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000\9;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
}
.carousel-caption {
	position: absolute;
	right: 15%;
	top: 10%;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: left;
	text-shadow: 0 0 0 rgba(0,0,0,.6);
}
ul.custom-menu {
	list-style: none;
	margin: 0;
	padding: 0 0 0 140px;
}
ul.custom-menu li a {
	font-size: 15px;
	color: #231f20;
	padding: 25px 25px 10px;
}
ul.custom-menu li a.active {
	color: #c32127;
}
ul.custom-menu li a:hover {
	background: none;
	color: #c32127;
}
ul.custom-menu-right {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}
ul.custom-menu-right li {
	padding: 0 10px;
	border-left: 1px solid #000;
}
ul.custom-menu-right li a {
	line-height: 20px;
	margin: 0;
	color: #231f20;
	padding: 0;
	font-size: 15px;
}
ul.custom-menu-right li a:hover {
	background: #000;
}
ul.custom-menu-right li:nth-child(1) {
	border-left: 0;
}
ul.custom-menu-right li:nth-child(2) {
	margin-left: 10px;
	margin-top: 2px;
	padding-right: 0;
}
ul.custom-menu-right li .request {
	padding: 0 10px;
	font-size: 13px;
	color: #fff;
}
ul.custom-menu-right li .cart:hover {
	background: none;
	color: #c32127;
}
ul.custom-menu-dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
	border: solid 1px #c32127;
}
ul.custom-menu-dropdown li a {
	padding: 2px 5px;
}
ul.custom-menu-dropdown li:nth-child(1) {
	padding-left: 0;
}
.bennar-text h2 {
	font-size: 27px;
	color: #231f20;
	font-style: italic;
	text-align: left;
	margin: 0;
	padding-bottom: 10px;
}
.bennar-text a {
	font-size: 22px;
	color: #fff;
	background: #c3161c;
	padding: 3px 8px;
}
.bennar-text {
	text-align: center;
	width: 36%;
}
.top-hadding h1 {
	font-size: 22px;
	margin: 0;
	color: #231f20;
	text-align: center;
	padding: 35px 15px 15px;
	text-transform: uppercase
}
.top-hadding h2 {
	font-size: 22px;
	margin: 0;
	color: #231f20;
	text-align: center;
	padding: 35px 15px 15px;
	text-transform: uppercase
}
.top-hadding h3 {
	font-size: 22px;
	margin: 0;
	color: #231f20;
	text-align: center;
	padding: 15px 15px 25px;
	text-transform: uppercase
}
.country-sim-card ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.country-sim-card ul li {
	display: inline-block;
}
.country-sim-card ul li a {
	text-decoration: none;
}
.carousel-control-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 7%;
	font-size: 20px;
	color: #9e9e9e;
	text-align: center;
	text-shadow: 0 0 0 rgba(0,0,0,.6);
	filter: alpha(opacity=50);
	opacity: 1;
}
.carousel-control-arrow1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 7%;
	font-size: 20px;
	color: #000;
	text-align: center;
	text-shadow: 0 0 0 rgba(0,0,0,.6);
	filter: alpha(opacity=50);
	opacity: 1;
}
.carousel-control:hover {
	color: #c32127;
}
.country {
	padding-top: 15px;
}
.box {
	border: solid 1px #7f7f7f;
	border-radius: 5px;
	margin-bottom: 15px;
}
.data {
	text-align: center;
	color: #c3161c;
	font-size: 19px;
	font-weight: bold;
	padding: 20px 15px 10px;
	line-height: 20px;
}
.data-price {
	padding-bottom: 10px;
	font-size: 26px;
	color: #000;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
}
.buy-plan {
	text-align: center;
	clear: both;
	padding: 5px 15px;
}
.buy-plan a {
	background: #c3161c;
	border-radius: 5px;
	color: #fff;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
}
.data-table {
	background: #e5e5e4;
	padding: 15px 15px 30px;
	margin-top: 20px;
	border-radius: 0 0 5px 5px;
}
.country-sim-card1 ul li p a {
	color: #231f20;
}
.sim-advantage {
	padding-bottom: 15px;
}
.sim-advantage ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.sim-advantage ul li {
	display: inline-block;
	padding: 0 48px;
}
.sim-advantage ul li label {
	display: block;
	text-align: center;
}
.sim-advantage ul li span {
	display: block;
	color: #c3161c;
	text-align: center;
	font-size: 15px;
}
.country-sim-card1 ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}
.country-sim-card1 ul li {
	float: left;
	width: 33.33%;
}
.country-sim-card1 ul li h4 {
	margin: 0;
	font-size: 18px;
	color: #231f20;
	padding: 15px 0 10px;
}
.country-sim-card1 ul li p {
	color: #231f20;
	font-size: 13px;
	margin: 0;
}
.country-sim-card3 ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.country-sim-card3 ul li {
	display: inline-block;
	padding: 0 15px;
}
.country-sim-card3 ul li a {
	text-decoration: none;
}
.country-sim-card3 ul li:first-child {
	padding-left: 90px;
}
.footer {
	background: #000;
	padding: 30px 0;
}
.bottom-carousel {
	margin-bottom: 50px;
}
.footer h5 {
	margin: 0;
	padding: 0 0 15px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}
ul.footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
ul.footer-menu li a {
	color: #fff;
	font-size: 14px;
	padding: 5px 0;
	text-decoration: none;
}
.social-icon {
	padding-top: 30px;
}
ul.footer-social-icon {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
ul.footer-social-icon li {
	background: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
}
ul.footer-social-icon li a {
	line-height: 20px;
	text-align: center;
	display: block;
	color: #000;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #555;
	background-color: #fff;
}
.custom-panel {
	background-color: #ebf6f8 !important;
	font-weight: bold;
	font-size: 18px;
	color: #c3161c !important;
	border: solid 1px #ccc;
	border-radius: 0;
	margin-bottom: 5px;
	background-image: none !important
}
.custom-border .panel-body {
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	padding: 10px;
	background: white;
}
.custom-border {
	border: 0 solid #000 !important;
	border-color: #000 !important;
}
.cart-table table {
	margin-bottom: 0;
}
.cart-table table thead tr th {
	border-bottom: 0 solid #000 !important;
	padding: 2px 0px !important;
	font-size: 15px !important;
	background: none;
	color: #000;
	font-weight: bold;
	text-align: left;
}
.form-control-custom {
	border-radius: 5px;
}
.cart-table table tbody tr td {
	border-top: 0 solid #000;
	padding: 2px 0px;
	font-size: 14px;
	color: #000;
	font-weight: 400;
}
.cart-table table tbody tr td span {
	color: #c22127;
}
.cart-promo-code {
	padding-top: 15px;
}
.cart-promo-code label {
	color: #000;
	font-size: 14px;
}
.cart-promo-code input {
	height: 30px;
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
	border-radius: 5px;
}
.cart-promo-code .form-group .promo-apply {
	background: #c3161c;
	padding: 3px 12px 5px;
	color: #fff;
	line-height: 30px;
	border-radius: 4px;
	border: solid #c3161c 1px;
}
.delivery-type .form-group .form-control-proomo-select {
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
	padding: 0 12px;
	line-height: 0;
	font-weight: normal;
	color: #908E8F;
	outline: none;
	height: 30px;
	border-radius: 4px;
	width: auto;
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
}
.delivery-type .form-group .form-control-proomo-select:focus {
	background: #fff !important;
}
.cart-promo-code input:focus {
	background: #fff !important;
}
.cart-delivery input:focus {
	background: #fff !important;
}
.cart-delivery select:focus {
	background: #fff !important;
}
.delivery-type select:focus {
	background: #fff !important;
}
.cart-promo-code select {
	height: 30px;
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
	padding: 0 12px;
	line-height: 0;
}
/*.form-group span{font-weight: 400;
    color: #c3161c;
                                       clear:both;
                                       font-size: 11px;
}*/
.cart-promo-code .btn-default {
	height: 30px;
	line-height: 26px;
}
.custom-panel a {
	font-size: 18px;
	color: #c3161c;
	font-weight: normal;
	text-decoration: none;
	font-style: italic;
}
.cart-promo-code .btn-default:focus {
	background: #000;
	color: #fff;
}
.cart-delivery label {
	color: #000;
	font-size: 14px;
}
.cart-delivery input {
	height: 30px;
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
}
.cart-delivery select {
	height: 30px;
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
	padding: 0 12px;
	-moz-appearance: menulist;
	-webkit-appearance: menulist;
	line-height: 0;
}
.cart-delivery .btn-default {
	height: 30px;
	line-height: 26px;
}
.delivery-type label {
	font-size: 16px;
	color: #c22127;
	font-weight: bold;
}
.delivery-type {
	padding-bottom: 15px;
}
.delivery-type select {
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
	padding: 0 12px;
	line-height: 0;
	font-weight: normal;
	color: #908E8F;
	outline: none;
	height: 30px;
	width: auto;
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
}
.cart-botton {
	text-align: center;
}
.cart-botton a {
	background: #336633;
	border: solid 1px #336633;
	margin: 0 15px;
	height: 28px;
	padding: 4px 15px;
	line-height: 24px;
	color: #fff;
	font-size: 15px;
	border-radius: 5px;
}
.country-detail img {
	float: left;
	width: 3%;
	padding-top: 5px;
}
.country-detail span {
	float: left;
	width: 96%;
	margin-left: 1%;
}
.cart-botton input {
	background: #336633;
	border: solid 1px #336633;
	margin: 0 15px;
	height: 28px;
	line-height: 24px;
	font-size: 15px;
}
.cart-botton a:focus {
	background: #000;
	color: #fff;
}
.input-group-btn>.btn:active, .input-group-btn>.btn:focus, .input-group-btn>.btn:hover {
	background: #000;
	color: #fff;
}
.coupon-btn {
	background: #c3161c;
	padding: 0 12px;
	color: #fff;
	border-radius: 5px;
	border: solid #c3161c 1px;
	line-height: 30px;
}
.btn-increment-decrement {
	color: #d24539;
	float: left;
	padding-right: 10px;
}
.input-quantity {
	width: 30px;
	float: left;
	border: none;
}
.line-thro {
	text-decoration: line-through #d24539;
}
.form-input {
	width: 40px;
	border: none;
}
.update-btn {
	background: none;
	color: #000;
	padding: 2px;
	margin: 0 2px 0 0;
	margin-right: 10px;
}
.delete-btn {
	background: none;
	color: #000;
	padding: 2px;
	margin: 0;
	margin-right: 10px;
}
.delete-btn i {
	color: #000;
}
.form-sefate {
	float: left;
}
.address-change {
	padding-bottom: 15px;
}
.address-change a {
	text-decoration: none;
}
.buttons_added {
	float: left;
	margin-right: 10px;
}
.buttons_added .minus {
	background: none;
	border: none;
	color: #c3161c;
	padding-right: 20px;
	font-size: 16px;
}
.buttons_added .input-text {
	width: 30px;
	border: none;
}
.buttons_added .plus {
	background: none;
	border: none;
	color: #c3161c;
	font-size: 16px;
}
.country-detail {
	padding: 30px 0 10px;
	font-size: 22px;
	color: #231f20;
}
.country-text {
	color: #231f20;
	line-height: 20px;
	font-size: 15px;
	padding-bottom: 15px;
}
.country-detail-hadding h2 {
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size: 22px;
	color: #231f20;
	text-transform: uppercase;
}
.coutries {
	padding-bottom: 15px;
}

.coutries .table thead tr th {
	text-align: center;
}
.coutries .table thead tr th select {
	border: none;
}
.coutries-plan .table thead tr th select {
	border: none;
}
.coutries .table tbody tr td {
	text-align: center;
}

.cart-table table tbody tr td a .delete {
	color: #000;
	margin-right: 5px;
}
/* shopping cart css start 
@media only screen and (max-width: 760px), (min-device-width: 768px)  and (max-device-width: 1024px) {

.cart-table table, thead, th, td, tr {
	display: block;
}
.cart-table table, tbody, th, td, tr {
	display: block;
}

.cart-table thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.cart-table tr {
	margin: 0;
}
.cart-table td {
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
	text-align: right;
}
.cart-table td:before {
	position: absolute;
	top: 0;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}
.buttons_added .input-text {
	width: 30px;
	height: 12px;
	border: none;
}
.buttons_added {
	float: left;
	margin-right: 0;
	width: 83%;
}
.cart-table td:nth-of-type(1):before {
	content: "Item";
}
.cart-table td:nth-of-type(2):before {
	content: "Unit Price";
}
.cart-table td:nth-of-type(3):before {
	content: "Qty";
}
.cart-table td:nth-of-type(4):before {
	content: "Subtotal";
}
.cart-table1 tbody tr td {
	width: 50%;
	float: left;
}
} end */
#chatForm {
	background-color: #e40e16;
	color: #ffffff;
	width: 300px;
	float: right;
	text-align: center;
	display: none;
}
.data-table table tbody tr .left-colum {
	width: 32%;
}
.data-table table tbody tr .right-colum {
	width: 68%;
}
.call-us {
	position: relative;
}
.chat {
	position: fixed;
	right: 0;
	bottom: 43%;
	z-index: 999;
}
ul.call-button {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.call-button li {
	float: none;
	text-align: center;
}
ul.call-button li a {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
ul.call-button li:first-child {
	background: #406b09;
	padding: 0;
	margin-bottom: 10px;
	border-radius: 10px 0 0 10px;
}
ul.call-button li:last-child {
	background: #c3161c;
	padding: 0;
	border-radius: 10px 0 0 10px;
}
.chat-detail {
	padding: 10px 15px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.chat-form {
	border-right: solid 1px #e40e16;
	border-left: solid 1px #e40e16;
	background: #fff;
	padding: 15px 20px;
}
.chat-form .form-group span {
	text-align: left;
	color: #e40e16;
	float: left;
}
.chat-form .form-group .name {
	border-bottom: solid 2px #e40e16;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	color: #58595b !important;
	font-size: 18px;
	height: 30px;
	width: 97%;
}
.option-choose {
	clear: both;
	text-align: left;
	padding: 10px 15px 0;
}
.option-choose label {
	display: block;
	color: #58595b;
	font-weight: normal;
	font-size: 17px;
}
.option-choose labe input {
	border: solid 1px #000;
	height: 14px;
	width: 14px;
	background: red;
}
#chatForm .chat-start {
	text-align: center;
	padding: 10px 15px;
}
#chatForm .chat-start a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	float: none;
	line-height: 18px;
}
.type-travel {
	font-size: 18px;
	color: #58595b;
	float: left;
}
ul.call-button li:first-child a {
/*float: left;*/
}
ul.call-button li:last-child a {
	float: left;
}



/*Query page css start*/
.sim-card {
	color: #c0161c;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 38px;
}

.coutries-plan {
	padding: 0;
}
.coutries-plan table {
	border: solid 1px #c0161c;
}
.coutries-plan .table thead tr th {
	text-align: center;
	border: solid 1px #fff;
	background: #c0161c;
	color: #fff;
}
.coutries-plan .table thead tr th:first-child {
	text-align: center;
	border-left: solid 1px #c0161c;
	border-right: solid 1px #fff;
	background: #c0161c;
	color: #fff;
}
.coutries-plan .table thead tr th:last-child {
	text-align: center;
	border: solid 1px #c0161c;
	background: #c0161c;
	color: #fff;
}
.coutries-plan .table tbody tr td {
	text-align: center;
	border: solid 2px #c0161c;
}
.travel-bus-img {
	padding-top: 35px;
}
.query-call {
	color: #c0161c;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}
.query-form .form-group .form-control {
	border-bottom: 1px solid #bfbfc0 !important;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 4px 0;
	font-size: 16px;
}
.form-query{border: 1px solid #bfbfc0 !important; padding: 6px 15px !important; border-radius: 4px !important;}
.query-form .form-group {
	margin-bottom: 12px;
}
.query-form .form-group .btn {
	background: #c0161c;
	color: #fff;
	padding: 0px 30px 4px;
	font-size: 21px;
	margin-bottom: 0;
}
.query-form {
	border: solid 1px #c0161c;
	border-radius: 5px;
	padding: 10px 15px 3px;
	margin-bottom: 15px;
}
.query-form .form-group select {
	color: #999;
}
.start-plan {
	padding-top: 30px;
}
.start-plan select {
	border: solid 1px #d5d6d7 !important;
	background: #eaeaeb !important;
}
.start-plan select:focus {
	border: solid 1px #d5d6d7 !important;
	background: #fff !important;
}
.plan-loader {
    position: fixed;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 99999;
}

.carousel-control.right{background:none;}
.carousel-control.left{background:none;}

/*Query page css End*/