body{}
ul.nav li.main{font-weight:bold;}
div.col-md-3{padding-left:0;}
div.source-links{float:right;}
.bs-sidebar{overflow-y:scroll;max-height:86%;overflow-x:hidden;}
.bs-sidebar.affix{position:static;}
.bs-sidebar.well{padding:0;}
.bs-sidenav{margin-top:30px;margin-bottom:30px;padding-top:10px;padding-bottom:10px;border-radius:5px;}
.bs-sidebar .nav > li > a{display:block;padding:5px 20px;}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus{text-decoration:none;border-right:1px solid;}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a{font-weight:bold;background-color:transparent;border-right:1px solid;}
.bs-sidebar .nav .nav{display:none;margin-bottom:8px;}
.bs-sidebar .nav .nav > li > a{padding-top:3px;padding-bottom:3px;padding-left:30px;font-size:90%;}
@media (min-width:992px){.bs-sidebar .nav > .active > ul{display:block;}
.bs-sidebar.affix,
.bs-sidebar.affix-bottom{width:213px;}
.bs-sidebar.affix{position:fixed;top:80px;}
.bs-sidebar.affix-bottom{position:absolute;}
.bs-sidebar.affix-bottom .bs-sidenav,
.bs-sidebar.affix .bs-sidenav{margin-top:0;margin-bottom:0;}
}
@media (min-width:1200px){.bs-sidebar.affix-bottom,
.bs-sidebar.affix{width:263px;}
}