@charset "utf-8";@font-face{font-family:'gotham_htfmedium';src:url('../fonts/gothamhtf-medium.eot');src:url('../fonts/gothamhtf-medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/gothamhtf-medium.woff2') format('woff2'),
url('../fonts/gothamhtf-medium.woff') format('woff'),
url('../fonts/gothamhtf-medium.ttf') format('truetype'),
url('../fonts/gothamhtf-medium.svg#gotham_htfmedium') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'gotham_htf_bookregular';src:url('../fonts/gothamhtf-book-webfont.eot');src:url('../fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
url('../fonts/gothamhtf-book-webfont.woff') format('woff'),
url('../fonts/gothamhtf-book-webfont.ttf') format('truetype'),
url('../fonts/gothamhtf-book-webfont.svg#gotham_htf_bookregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'gotham_bookregular';src:url('../fonts/gotham-book-webfont.eot');src:url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/gotham-book-webfont.woff2') format('woff2'),
url('../fonts/gotham-book-webfont.woff') format('woff'),
url('../fonts/gotham-book-webfont.ttf') format('truetype'),
url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');font-weight:normal;font-style:normal;}
body{font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;font-size:14px;color:#939393;font-weight:300;line-height:normal;padding:0px;margin:0px;}
ul, li, p, h2, h3, h5, select{margin:0;padding:0;}
ul li{list-style:none;}
.clear{clear:both;}
.inline_block{display:inline-block;}
.margin_80{margin:80px auto;}
.margin_top80{margin-top:80px;}
.margin_top30{margin-top:30px;}
.margin_top20{margin-top:20px;}
.margin_bottom05{margin-bottom:5px;}
.padding_10{padding:10px 0;}
.padding_15{padding:15px 0;}
.padding_40{padding:40px 0;}
.padding_bottom20{padding-bottom:20px;}
.left{float:left;}
.right{float:right;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.text_center{text-align:center;}
.border_top{border-top:1px solid #eaeaea;}
.border_bottom{border-bottom:1px solid #eaeaea;}
.header_menu{padding:10px 0;}
.header_menu ul li{display:inline-block;padding:0 15px;}
.header_menu ul li:first-child{padding-left:0;}
.header_menu ul li, .header_menu ul li a{color:#a3a3a3;font-size:16px;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;}
.blog_calender select{color:#505050;font-size:16px;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;border:none;height:auto;outline:none;width:100%;margin:0 auto;padding-left:5%;background:url(../images/icons/white_arrow.png) no-repeat right !important;appearance:none;-moz-appearance:none;-webkit-appearance:none;}
.blog_calender .month{background:#d5d5d5;padding:10px 1%;width:18%;}
.blog_calender .year{background:#b2b2b2;padding:10px 1%;width:10%;}
.banner{position:relative;}
.banner_text_area{left:0;right:0;bottom:0;position:absolute;background:rgba(0,0,0,.6);text-align:center;}
.banner_text{padding:30px 15% 20px;}
.banner_text p{color:#fff;font-size:20px;}
.no_show{display:none;}
.banner_text_area:hover .no_show{display:block;cursor:pointer;}
.read_more{background:#df4a4a;border-radius:8px;display:inline-block;padding:10px;color:#fff;margin-bottom:20px;}
.social_icons{margin-bottom:15px;}
.social_icons li{display:inline-block;}
.blog_content{padding:90px 70px 0;}
.blog_content h3{font-size:20px;font-weight:normal;color:#333;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;line-height:20px;}
.blog_content h5{font-size:14px;color:#333;font-weight:normal;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;line-height:20px;}
.blog_content .social_icons img{border:1px solid #d5d5d5;border-radius:8px;}
.pagination>li>a, .pagination>li>span{border:none;font-size:20px;color:#b2b2b2;font-family:Helvetica, Arial, Verdana, sans-serif;padding:4px 12px;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{background-color:#df4a4a;border-color:#df4a4a;color:#fff;}
.banner_area_left{padding-right:8px;}
.banner_area_right{padding-left:8px;}
.media-carousel .carousel-control.left{left:0;background-image:none;background:none repeat scroll 0 0 #fff;height:55px;width:55px;top:35%;opacity:1;font-size:65px;line-height:42px;color:#666;text-shadow:none;}
.media-carousel .carousel-control.right{right:0;background:none repeat scroll 0 0 #fff;height:55px;width:55px;top:35%;opacity:1;font-size:65px;line-height:42px;color:#666;text-shadow:none;}
.media-carousel .carousel-indicators{right:50%;top:auto;bottom:0px;margin-right:-19px;}
.media-carousel .carousel-indicators li{background:#c0c0c0;}
.media-carousel .carousel-indicators .active{background:#333333;}
.banner img{max-width:100%;}
.archive_area h2{font-size:20px;}
.archive_area .right_bar{padding:0;}
.archive_area .blog_calender .month{width:60%;}
.archive_area .blog_calender .year{width:40%;}
.archive_area img{max-width:100%;}
.topics{position:relative;}
.topics .banner_text_area{padding:15px 10px;}
.right_bar .topics p{font-size:14px;color:#fff;margin:0;padding:0;}
.right_bar p{font-size:12px;color:#666;margin:0;padding:0;}
.right_bar .category li{color:#333;font-size:14px;line-height:24px;}
.left_bar h2{font-size:25px;line-height:30px;}
.left_bar h5{font-size:14px;color:#333;font-weight:normal;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;line-height:20px;}
.left_bar h5 span{color:#df4a4a;}
.left_bar p{color:#939393;font-size:14px;line-height:20px;text-align:justify;}
.left_bar .social_icons img{border:1px solid #d5d5d5;border-radius:8px;}
.tag ul li{display:inline-block;background:#f2f2f2;padding:8px 10px;font-size:12px;color:#333;margin:1% 0%;}
.tag ul li:first-child{background:none;margin-right:10px;font-size:14px;padding:0;}
.relate_topic{padding-bottom:50px;}
.relate_topic ul li{display:inline-table;width:24%;}
.relate_topic ul li:first-child{margin-left:0;}
.relate_topic ul li p{color:#3d3c3c;font-size:12px;line-height:16px;margin-top:15px;margin-bottom:15px;text-align:center;}
.left_bar h3{font-size:16px;font-weight:normal;color:#333;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;line-height:20px;}
.comment ul li{margin-top:20px;}
.img_icon, .comment_area{display:inline-table;}
.comment_area{margin-left:10px;width:92%;}
.comment_area .lower{background:#f9f9f9;padding:20px 15px;margin-top:10px;font-size:12px;color:#333;line-height:16px;text-align:justify;}
.blog_d a:hover{color:#fff;}
.left_bar h2{margin:0 0 20px;}
.left_bar h5{margin:0 0 15px;}
.p_comm h3{margin:0 0 25px;}
.popular p{margin-top:30px;}
.right-sec h2{margin:0 0 20px;}
.marginTP25{margin-top:25px;}
.marginTP50{margin-top:50px;}
.blog-area{border-bottom:1px solid #e4e4e4;padding-bottom:40px;margin-bottom:25px;}
.blog-area.blog-detail-area{padding-bottom:15px;}
.blog-area.blog-detail-area.blog-comment{margin-bottom:0;}
h2.blog-title{font-size:20px;font-weight:bold;color:#000;}
.check-border{border-top:2px dashed #e1524e;margin-top:10px;}
.blog-area .check-border{width:15%;}
.blog-date{margin:20px auto 35px;}
.blog-date ul li{display:inline-block;margin-left:25px;}
.blog-date ul li:first-child{margin-left:0;}
.blog-part{position:relative;}
.blog-part ul li.blog-img{margin-right:25px;}
.blog-part .blog-img img{max-width:100%;}
.blog-part ul li.blog-content{width:75%;}
.blog-part ul li.blog-content .blog-text{line-height:20px;margin-bottom:50px;}
.blog-part ul li.blog-content .blog-button a{position:absolute;bottom:0;background:#e1524e;color:#fff;font-weight:bold;border-radius:4px;padding:10px 15px;}
.popular-post{border:1px solid #e4e4e4;padding:25px 30px 35px;}
.popular-post .check-border{width:25%;}
.popularPost-area ul li{border-bottom:1px solid #e4e4e4;padding-bottom:30px;margin-bottom:30px;}
.popularPost-area ul li:last-child{border-bottom:none;padding-bottom:0;margin-bottom:0;}
.popular-post .popularPost-area .popular-post-img{margin-right:15px;}
.popular-post .popularPost-area .popular-post-text{width:68%;}
.popular-post .popularPost-area .popular-post-text h3.post-title{font-size:16px;font-weight:bold;color:#000;}
.popular-post .popularPost-area .popular-post-text .post-time{margin:10px auto 14px;}
.popular-post .popularPost-area .popular-post-text .post-time span{color:#e1524e;font-weight:600;font-size:12px;margin-left:8px;}
.popular-post .popularPost-area .popular-post-text .post-text{font-size:12px;}
.blog-archive ul li img{margin-right:10px;margin-top:-3px;}
.blog-archive ul li{color:#000;font-size:12px;}
.blog-archive ul li ul{margin-left:10px;}
.blog-archive ul li ul li{margin-top:10px;}
.blog-archive ul.social-blog li{float:left;margin-left:30px;}
.blog-archive ul.social-blog li:first-child{margin-left:10px;}
.blog-archive ul.social-blog li a .fa{color:#fff;background:#a4a4a4;border-radius:100%;width:44px;height:44px;text-align:center;font-size:30px;line-height:42px;}
.blog-detail.blog-part ul li.blog-content{width:100%;}
.blog-detail.blog-part ul li.blog-img{margin-right:0;}
.blog-detail.blog-part ul li.blog-content .blog-text p{margin-top:30px;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social{margin-top:24px;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social .blog-button{border:1px solid #e1524e;color:#e1524e;padding:15px;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social ul.share-article li{float:right;margin-right:10px;color:#696d70;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social ul.share-article li:last-child{font-weight:bold;line-height:32px;margin-right:20px;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social ul.share-article li .fa{color:#fff;width:32px;height:32px;text-align:center;font-size:20px;line-height:32px;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social ul.share-article li .fa.fa-facebook{background:#395aa1;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social ul.share-article li .fa.fa-linkedin{background:#1279b4;}
.blog-comment h2.blog-title{text-transform:uppercase;}
.blog-comment .comment-section{margin:30px 0 0 15px;}
.blog-comment .comment-section .comment-img{border:1px solid #e4e4e4;margin-right:15px;}
.blog-comment .comment-section .comment-text-area{width:85%;}
.blog-comment .comment-section .comment-text h3{font-size:14px;font-weight:bold;color:#000;margin-bottom:10px;}
.blog-comment .comment-section .comment-text h4{font-size:14px;font-style:italic;color:#a4a4a4;margin-bottom:15px;}
.blog-comment .comment-section .comment-text p{font-size:13px;color:#a4a4a4;line-height:16px;margin-bottom:25px;}
.blog-comment .comment-section .comment-text a{font-size:14px;color:#e1524e;text-transform:uppercase;font-weight:bold;}
.blog-comment .comment-section .comment-text-area>.comment{border-top:1px solid #e4e4e4;margin-top:20px;padding-top:20px;}
.comment-form{margin-top:40px;}
.comment-form .input-form{margin-bottom:20px;}
.comment-form .input-form input, .comment-form textarea{width:100%;outline:none;border:1px solid #e4e4e4;padding:15px 10px;background:#fff;border-radius:0;}
.comment-form .input-button button{border-radius:4px;background:#333;color:#fff;outline:none;padding:15px 30px;}
.blog-rep{padding:0 70px 0 20px;}
.blog-rep .blog-title{font-size:15px;}
.rep-comm{padding-top:10px !important;}
.blog-rep .check-border{margin-top:4px;}
.blog-rep .comment-form{margin-top:15px;}
.blog-rep .comment-form .input-form input, .comment-form textarea{padding:8px 10px;}
.blog-rep .comment-form .input-button button{margin:0;padding:10px 20px;}
.blog-archive .tree, .blog-archive.tree ul{margin:0;padding:0;list-style:none}
.blog-archive .tree ul{margin-left:1em;position:relative;margin-top:10px;}
.blog-archive .tree ul ul{margin-left:.5em}
.blog-archive .tree ul:before{display:block;width:0;position:absolute;top:0;bottom:0;left:0;}
.blog-archive .tree li{margin:0;color:#4c4c4c;font-weight:normal;position:relative}
.blog-archive .tree ul li:before{display:block;width:10px;height:0;position:absolute;top:1em;left:0}
.blog-archive .tree ul li:last-child:before{background:#fff;height:auto;top:1em;bottom:0}
.blog-archive .indicator{margin-right:5px;}
.blog-archive .tree li a{text-decoration:none;color:#4c4c4c;}
.blog-archive .tree li button, .tree li button:active, .tree li button:focus{text-decoration:none;color:#4c4c4c;border:none;background:transparent;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;outline:0;}
.blog-archive .fa{font-size:20px;}
.blog-archive .tree li a{margin-left:10px;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;font-size:13px;font-weight:bold;}
.blog-archive .tree .blog-name{margin-bottom:10px;}
.blog-archive .tree .blog-name li{margin-top:10px;}
.blog-archive .tree .blog-name li a{color:#9d9d9d;margin-left:16px;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;font-size:13px;font-weight:normal;}
.bottom-butn{display:none;}

@media screen and (min-width:1000px) and (max-width:1100px){
.blog-part ul li.blog-content {width: 70%;}
.popular-post .popularPost-area .popular-post-text {width: 60%;}	
}

@media screen and (min-width:501px) and (max-width:767px){.blog-date ul li{margin-left:15px;font-size:12px !important;}
.blog-part ul li.blog-content{width:100%;}
.blog-part ul li.blog-img{margin:0;}
.blog-text img{text-align:center;width:100% !important;margin:0 auto;display:block;}
}
@media screen and (min-width:0px) and (max-width:500px){.blog-date ul li{margin-left:0px;font-size:12px !important;}
.blog-part ul li.blog-content .blog-button a{bottom:-38px;}
.blog-date{margin:20px auto 10px;}
.blog-part ul li.blog-content .blog-text{padding:14px 0px;}
.blog-area{padding-bottom:56px;}
.popular-post .popularPost-area .popular-post-text{width:50%;}
.blog-part ul li.blog-content .blog-text{text-align:justify;}
.blog-detail.blog-part ul li.blog-content .blog-text p{margin-top:20px;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social{margin-top:5px;}
.homePage .right{margin-right:0;}
.blog-comment .comment-section .comment-text-area{width:60%;}
.blog-area .check-border{width:35%;}
.comment-form .input-button button{margin:0px 0 25px 0;}
.blog-area.blog-detail-area.blog-comment{margin-bottom:25px;}
.marginTP25{margin-top:0px;}
.butn{display:none}
.bottom-butn{display:inherit;}
.blog-detail.blog-part ul li.blog-content .blog-detail-social .blog-button{padding:7px;}
.blog-part ul li.blog-content{width:100%;}
.blog-part ul li.blog-img{margin:0;}
.popularPost-area .left{float:left;}
.blog-text img{text-align:center;width:100% !important;margin:0 auto;display:block;}
}
.blog-text img{margin:0 auto;display:block;}
h1.blog-title{font-size: 20px;font-weight: bold;color: #000;}