@charset "utf-8";
/* CSS Document */
.plan-banner .dddemo {width:100%; max-width:100%;}
.planinnJumper {left:6%; top:89px; display:block; height:auto; margin:0; padding:20px; color:#FFF; font-size:27px; font-weight:300;
position:absolute; min-width:350px; z-index:1;}
.planinnJumper h1 {font-size:50px; letter-spacing:1px; color:#fff; font-weight:500; position:relative; padding-bottom:24px; margin-bottom:16px;}
.planinnJumper h1::after {content:''; background:url(../images/bottom-border.png) repeat-x left bottom; height:6px; width:100%; position:absolute; left:0; bottom:0; }
.planinnJumper h2 {line-height:37px;color:#fff;}
.planinnJumper h2 span {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:bold; color:#fff;}
.planinnJumper h4 {font-size:21px; font-weight:500; vertical-align:bottom; margin-top:46px;color:#fff;}
.planCol {padding:4px 0 30px 0px; margin:0px; position:relative; overflow:hidden;}

.top-filter {position:relative; margin:0; overflow:hidden;}
.top-filter .fl-1 {float:left; width:8%; color:#a6a6a6; font-size:13px; font-weight:400;  font-family: 'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;}
.top-filter .fl-2 {float:left; width:92%;}
.clear-filter {float:right; outline:0; border:1px solid #bcbcbc; color:#858484; font-size:12px; padding:8px 13px;}
.clear-filter:hover {outline:0; border:1px solid #cf302a;}
.clear-filter:focus {outline:0; border:1px solid #cf302a; color:#cf302a;}
.fl-2 .filter-dropdown {float:left; position:relative; width:20%; margin-right:26px; font-family: 'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;}
.fl-2 .filter-dropdown::after {content:''; background:#949494; position:absolute; height:22px; width:1px; top:0; right:0;  }
.fl-2 .filter-dropdown:last-child:after {content:''; background:#fff;}
.filter-dropdown .drop-icon {float:left;}
.filter-dropdown .drop-a {float:left; position:relative;     width:72%; margin-left:4px;}
.filter-dropdown .drop-a span {font-size:14px; color:#666666; font-weight:bold; margin-left:6px; letter-spacing:1px;}
.filter-dropdown .drop-a select {background:rgba(255, 255, 255, 0) url(../img/ar.png) no-repeat top right !important; border:0; 
padding:24px 0 4px 8px; margin-top:-20px; height:auto; font-size:10px; letter-spacing:normal; color:#9e9e9e; text-transform: uppercase;}
.filter-dropdown .drop-a select option {line-height:30px;}
.filter-border {border-bottom:1px solid #e8e8e8; padding-bottom:0px;}

.filter-search {position:relative; margin:12px 0; padding:0;}
.filter-search .table {border:0;}
.filter-search .table > thead {}
.filter-search .table > thead > tr > th {vertical-align:middle; background:#e1e1e1; color:#2e2e2e; font-size:13px; font-weight:bold; padding:7px 8px;}
.filter-search .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th {border:1px solid #ececec;}
.filter-search .table-head {display:block; border:1px solid #d4d4d4; width:100%;}
.filter-search .table-body {display:inline-block; margin-top:16px; border:1px solid #767676; width:100%; text-align:center; color:#000000; font-weight:500;}
.filter-search .table-body .table-toplist {width:100%; display:block; border-bottom:1px solid #f30; padding:0; text-align:center; display:none;}
.filter-search .table-body .addon-area {width:100%; display:block; border-top: 1px solid #eeeeee !important; border-bottom:none !important;border-left:none !important;border-right:none !important;}



.table-a {width:146px;} .table-b {width:141px;} .table-c {width:146px;} .table-d {width:172px;} 
.table-e {width:163px;} .table-f {width:141px;} .table-g {width:142px;} .table-h {width:136px;} 

.table-aa {width:147px; text-align:center; border:0 !important; } 
.table-bb {text-align:center; width:142px;  border:0 !important;} 
.table-cc {width:146px;  border:0 !important; text-align:center;} 
.table-dd {width:172px;  border:0 !important; text-align:center;} 
.table-ee {width:163px;  border:0 !important; text-align:center;} 
.table-ff {width:141px;  border:0 !important; text-align:center;} 
.table-gg {width:142px; font-size:16px; font-weight:bold; color:#cf302a;  border:0 !important; text-align:center;} 
.table-hh {width:136px;  border:0 !important; text-align:center;}


.addon-aa {width:199px; text-align:left; border:0 !important; font-size:11px; color:#323232; font-weight:normal; padding-left:34px !important; float:left;} 
.addon-bb {text-align:left; width:142px;  border:0 !important; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-cc {width:96px;  border:0 !important; text-align:left; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-dd {width:139px;  border:0 !important; text-align:left; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-ee {width:406px;  border:0 !important; text-align:left; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-ff {width:39px;  border:0 !important; text-align:left; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-gg {width:108px; font-size:16px; font-weight:bold; color:#cf302a;  border:0 !important; text-align:left;  float:left;} 

.acc-full {width:100%; margin-top: 12px;}
.acc-full .check-area {float:left; padding-left:4px; width:86px; font-size:13px; font-weight:bold; color:#8f8f8f;}
.acc-full .check-area1 {display:inline-block; font-size:11px;     float: left; width:23%; text-align:left;}
.acc-full .check-area1 input {display:inline-block; float:left; margin-right:6px;  margin-top:2px;}

.addon-area #accordion .panel-heading { padding: 0;}
.addon-area #accordion .panel-title > a {display:block;	padding:0.4em 0.6em; outline:none; font-weight:bold; text-decoration:none;}

.addon-area #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  { content:"-"; float:right;
font-family: 'FontAwesome'; position:absolute; right:9px;}
.addon-area #accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {content:"+"; }
.addon-area .panel-body {padding-bottom:0;}

.addon-btn {border:1px solid #7c7c7c; text-align:center; color:#7c7c7c; border-radius:2px; padding:4px 19px 4px 10px; position:relative; float:right; font-weight:normal; font-size:12px;     margin-right: 7px;}
.addon-btn:hover {border:1px solid #7c7c7c;}
.addon-btn:focus {border:1px solid #7c7c7c;}

.table-gg .fa {font-weight:normal;}
.table-gg span {font-size:12px; color:#3a3a3a; text-decoration:line-through;}
.table-gg span .fa {font-weight:normal; text-decoration:line-through;}

.filter-search .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {background:#fff;  border:0 !important;    line-height: normal;}
.table-btn {background:#cf302a; color:#fff; text-align:center; font-size:14px; padding:8px 14px; border-radius:0; margin:0 auto;}
.table-btn:hover {color:#fff;}
.filter-search .table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {vertical-align:middle; padding:8px 1px;}
.filter-search .table small {font-size:10px;}

.offer-content {margin:26px 0; padding:0; position:relative;}
h3.dash-border {font-size:25px; color:#3b3b3b;border-bottom: 2px dashed #e2e2e2;padding-bottom: 20px;display: inline-block;}
.offer-content p {color:#747474; font-size:14px; text-align:justify; line-height:21px; margin-bottom:6px;}

.faq-content {margin-bottom:26px; padding:0; position:relative;}
.faq-content h3 {font-size:20px; color:#3b3b3b; text-align:center;}



.advant-area {padding:36px 0 24px 0; position:relative; text-align:center; background:#fafafa;}
.advant-area h3 {font-size:20px; color:#3b3b3b; text-align:center; margin-bottom:39px; }
.advant-area .col-centered {text-align:center; margin-bottom:6px; min-height:96px;}
.advant-area .col-centered .advant-icon {min-height:82px;}
.advant-area .advant-icon h5 {color:#767676; margin:16px 0 12px 0; line-height:19px; letter-spacing:0.6px;}

.sim-area {padding:36px 0 24px 0; position:relative; text-align:center; background:#fff;}
.sim-area h3 {font-size:20px; color:#3b3b3b; text-align:center; margin-bottom:39px; }
.sim-area .col-centered {text-align:center; margin-bottom:6px; }
.sim-area .col-centered .country-icon {min-height:69px;}
.sim-area .country-icon h5 {color:#767676; margin:12px 0 12px 0; line-height:19px; font-size:13px;}

@media screen and (min-width:993px) {
.sim-area .col-centered {width:20%;}	
}
@media screen and (min-width:601px) {
.plan-banner .dddemo {display:block;}
.plan-banner .mob-banner {display:none;}
.mob-morebtn  {display:none;}
}
@media screen and (min-width:768px) and (max-width:992px)  {
.planinnJumper {left:0; top:0; }
.plan-banner .dddemo {height:299px;}
.container {max-width:100%;}
}
@media screen and (min-width:993px) and (max-width:1200px)  {
.planinnJumper {left:0; top:0; }
.plan-banner .dddemo {height:299px;}
.container {max-width:100%;}
}
@media screen and (max-width:767px) {
.sim-area .col-centered {margin-bottom:12px;}
.advant-area .col-centered .advant-icon {min-height:109px;}
.advant-area .advant-icon h5 br {display:none;}
.planinnJumper {top:0; left:0;}
.planinnJumper h1 {font-size:32px; width:64%;}
.planinnJumper h2 {line-height:24px; font-size:17px; width:47%;}
.plan-banner .dddemo {height:309px;}
.planinnJumper h1::after {width:56%;}
.planinnJumper h4 {font-size:15px;}

.top-filter .fl-1{display:none;}
.mobile-filter ul, .mobile-filter-search ul, .mobile-search-data ul{ margin:0 auto; padding:0; list-style:none;}
.mobile-filter ul li{float:left; text-align:center; border-right:1px solid #d7d7d7; padding:0 10px;}
.mobile-filter ul li:first-child{padding-left:0;}
.mobile-filter ul li:last-child{padding-right:0; border-right:0;}
.mobile-filter ul li .font-size{font-size:11px;margin-top:8px;}
.mobile-filter .clear-filter{padding:3px 8px;font-size: 10px;margin-top: 10px;}

.mobile-filter-search{margin-top:15px;}
.mobile-filter-search .mobile-search-part{border: 1px solid #d4d4d4;background: #e1e1e1;}
.mobile-filter-search .mobile-search-part ul li{float:left; text-align:center;border-left: 1px solid #ececec;padding:8px 0;width: 25%; color:#2e2e2e;}
.mobile-filter-search .mobile-search-part ul li:first-child{border-left:none;}

.mobile-search-data{margin-top:15px;}
.mobile-filter-search .mobile-search-data{border: 1px solid #767676;}
.mobile-filter-search .mobile-search-data ul li{float:left; text-align:center;padding:14px 0;width: 25%; color:#2e2e2e; font-size:11px;}
.mobile-filter-search .mobile-search-data ul li .table-btn{font-size: 10px;padding: 6px 10px;margin-top: 5px;}
.mobile-filter-search .mobile-search-data ul li div span {
    font-size: 12px;
    color: #3a3a3a;
    text-decoration: line-through;
}
.mobile-filter-search .mobile-search-data ul li .current-price{font-size: 16px;color: #cf302a;}

.mobile-data-details{font-size:11px; color:#323232;}
.mobile-data-details .left-part{border-right: 1px solid #767676;width:52%; padding:0 10px;}
.mobile-data-details .right-part{width:44%; padding:0 10px;}

.mobile-clear-filter{float: right;outline: 0;color:#cf302a;font-size:16px;}

.fl-2 .filter-dropdown{width:24%; margin-right:1%;}
.filter-dropdown .drop-icon{ float:none; text-align:center;margin-bottom: 6px;}
.filter-dropdown .drop-a{width:100%;margin-left: 0;text-align: center;}
.filter-dropdown .drop-a span{font-size:12px;margin-left: 0;letter-spacing: 0; font-weight:normal;}
.filter-dropdown .drop-a select{background: transparent !important;border: none;outline: none;box-shadow: none;}

}
@media screen and (max-width:600px) {
.planinnJumper h1 {width:294px; font-size:24px; padding-bottom:16px; margin-bottom:9px;}
.planinnJumper h1::after {width:41%;}
.planinnJumper h2 {width:189px; line-height:19px; font-size:15px;}
.plan-banner .dddemo {display:none;}
.plan-banner .mob-banner {display:block; height:276px; width:100%;}	
.mob-morebtn {display:block; text-align:center; background:#ee1e14; color:#fff; font-size:16px; width:136px; padding:9px 0; margin-top:39px;}
.planinnJumper h4 {margin-top:12px;}
}
.pincode-pop button.check_button{margin:0 0 0 10px;padding:16px 29px;letter-spacing:2px;}
.pincode-pop #deliveryError,.pincode-pop #deliverySuccess{display:none;}
.pincode-pop #deliveryError .msg-error{color:#E04A4B;}
.pincode-pop #deliverySuccess .msg-error{color:#505050;}
.pincode-pop #load-active{width:14px;position:absolute;top:18px;margin-left:54px;display:none;}

 
