@charset "utf-8";.left{float:left;}
.right{float:right;}
img{max-width:100%;}
.lightBG{background:#fafafa;}
.deepBG{background:#fc6060;}
.paddingBTM40{padding-bottom:40px;}
.padding60{padding:60px;}
.padding20TB{padding-bottom:20px;padding-top:20px;padding-left:15px;padding-right:15px;}
.marginLT8{margin-left:8%;}
.marginTP60{margin-top:60px;}
.marginTP45{margin-top:45px;}
.marginTP30{margin-top:30px;}
.marginBTM15{margin-bottom:15px;}
.width48{width:48%;}
.width50{width:50%;}
.width65{width:65%;}
ul.right-part li{display:inline-block;margin:0 5px;font-size:13px;line-height:18px;color:#393939;}
ul.right-part li:nth-child(5){display:none;}
ul.right-part li .fa{font-size:16px;line-height:14px;}
.descriptionGrid{position:absolute;left:0;right:0;top:30%;height:auto;}
.description{width:60%;margin:0 auto;text-align:center;color:#fff;}
.description h1{font-size:37px;text-transform:uppercase;color:#fff;font-weight:900;margin-bottom:34px;}
.description h2{color:#fff;font-size:17px;line-height:24px;}
.request-btn-part{position:absolute;left:0;right:0;bottom:70px;height:auto;text-align:center;}
.request-btn{border-radius:4px;background:#fc6060;padding:15px 25px;color:#fff;font-weight:700;display:inline-block;font-size:17px;}
.homePage .offers h2{font-size:25px;color:#3b3b3b;margin-top:50px;font-weight:bold;}
.homePage .dashed-border{border-bottom:1px dashed #e2e2e2;width:10%;margin:18px auto 30px;}
.testimonials .dashed-border{border-bottom:1px dashed #e2e2e2;width:22%;margin:18px auto 30px;}
.left-offers{width:100%;}
.more-offers{position:relative;display:inline-block;margin-bottom:4px;float:left;margin-left:4px;width:32.9%;}
.more-offers-text{text-align:center;left:0;right:0;top:45%;position:absolute;color:#fff;font-size:26px;font-weight:400;}
.more-offers-price{text-align:center;left:0;right:0;bottom:20%;position:absolute;color:#fff;font-family:'gotham_htf_bookregular', serif;font-weight:700;font-size:22px;}
.offer-details{background:rgba(255,63,64,.7);width:100%;height:100%;position:absolute;top:0;display:none;text-align:center;color:#fff;}
.left-offers .more-offers:hover .offer-details{display:block;}
.left-offers .more-offers:hover .offer-name{display:none;}
.right-offers .more-offers:hover .offer-details{display:block;}
.right-offers .more-offers:hover .more-offers-text{display:none;}
.right-offers .offer-details .buy-btn{margin-top:60%;}
.offer-details .text1{display:inline-block;font-size:21px;font-weight:700;border-bottom:1px solid #fff;margin-top:40px;margin-bottom:30px;padding-bottom:5px;}
.offer-details .text2{margin-bottom:10px;}
.offer-details .buy-btn{border:1px solid #fff;display:inline-block;color:#fff;padding:10px 30px;font-size:16px;margin-top:15px;background:transparent;border-radius:0;}
.offer-details .home-offer-more{margin-top:5px;}
ul.offer-option{padding:0;margin:0;list-style:none;}
ul.offer-option li{margin-top:15px;font-size:14px;}
ul.offer-option li:first-child{margin-top:0;}
.offer-header{font-size:20px;font-weight:700;margin-bottom:0;}
.lightBG .border-bottom{border-bottom:1px solid #fc6565;width:24%;margin:10px 0 35px;}
.deepBG .border-bottom{border-bottom:1px solid #fff;width:24%;margin:10px 0 35px;}
.deepBG .offer-header, .deepBG ul.offer-option li{color:#fff;}
.confidence{padding:60px 60px 92px;}
.convenience{padding:61px 60px 60px;}
.value-money{padding:40px 60px 66px;}
.blog-banner{margin-bottom:40px;}
.blog-banner-area{border:1px solid #fcfcfc;padding-bottom:20px;}
.blog-banner h3{font-size:16px;font-weight:700;color:#555;margin:10px 0 20px 15px;min-height:40px;}
.blog-banner h4{font-size:14px;font-weight:normal;color:#696969;line-height:18px;margin-bottom:20px;margin-left:15px;}
.read-btn{color:#f8625d;font-size:14px;font-weight:600;margin-left:15px;}
.well{background:#fff;border:none;border-radius:0;margin-bottom:40px;min-height:190px;position:relative;}
.well .carousel-img{display:inline-block;}
.well .carousel-control.left, .well .carousel-control.right{background-image:none;}
.well .carousel-control{top:44%;width:5%;height:38px;}
.well .carousel-control.left{left:4%;}
.well .carousel-control.right{right:4%;}
.well .thumbnail{border:none;padding:0;box-shadow:none;}
.well .speck-content{font-size:16px;color:#525252;}
.well a{color:#df4a4a;font-size:16px;font-weight:700;}
.well .more-padd{padding:30px 20px 12px 20px;}
.border{border:1px solid #f1f1f1;}
.questions{font-size:14px;line-height:18px;color:#424242;font-weight:500;}
.questions .panel-body{display:none;line-height:20px;margin:15px auto 0;padding:0;}
.answer{}
.minus{display:none;}
.answer .minus{display:block;}
.answer .plus{display:none;}
.faq-head{width:97%;}
.faq-icon{width:2%;}
.faqPage .questions .panel-head{font-size:14px;}
.faqPage .questions .panel-body, .homePage .questions .panel-body{color:#909090;font-weight:lighter;font-size:13px;}
.question-btn-part{margin:15px auto 0;border-bottom:1px solid #f1f1f1;padding-bottom:30px;}
.question-btn, .question-btn:hover{background:#cf302a;color:#fff;text-align:center;font-size:14px;padding:8px 14px;border-radius:0;margin:0 auto;font-weight:600;letter-spacing:2px;border:0;outline:none;}
ul.sim-card{padding:0;margin:0;list-style:none;}
ul.sim-card li{float:left;font-family:'gotham_htf_bookregular';font-size:14px;color:#8d8b8b;width:24%;margin-left:15px;margin-bottom:15px;font-weight:bold;border:1px solid #f1f1f1;text-align:center;min-height:74px;}
ul.sim-card li:nth-child(4n+1){margin-left:0;}
ul.sim-card li>a>div{padding:20px 10px;display:table-cell;vertical-align:middle;}
.footer-upper{background:#3e3e3e;padding:40px 0 20px;}
.footerB-right{border-right:1px solid #4a4949;}
.footer-upper h2{font-size:22px;line-height:18px;color:#ffffff;font-weight:500;margin-bottom:20px;text-align:center;}
footer ul{padding:0;margin:0;list-style:none;}
.footer-upper ul li{margin-bottom:10px;}
.footer-upper ul li, .footer-upper ul li a{color:#dedede;font-size:11px;line-height:12px;}
.footer-about{float:left;width:12%;}
.footer-country{float:left;width:22%;margin-left:3%;}
.footer-country ul li{width:50%;float:left;}
.footer-multi-sim{float:left;width:20%;margin-left:3%;min-height:286px;}
footer .fa{width:20px;height:20px;text-align:center;line-height:20px;color:#fff;background:#a4a4a4;border-radius:100%;}
.footer-contact{float:left;width:14%;margin-left:3%;}
.footer-lower{background:#363636;padding:15px 0;color:#e5e5e5;font-size:12px;line-height:12px;}
.footer-lower ul li, .footer-lower ul li a{display:inline-block;color:#e5e5e5;font-size:12px;}
@media screen and (max-width:767px){.description{width:80%;}
.description h1{font-size:28px;}
.description h2{display:none;}
.lightBG .left-offers, .lightBG .left-offers img, .lightBG .more-offers img, .lightBG .more-offers, .col-sm-12 .width50, .blog-banner-area img{width:100%;}
.left-offers .more-offers, .lightBG .more-offers{margin-bottom:10px;display:block;}
.lightBG.confidence, .deepBG.convenience, .lightBG.value-money{text-align:center;padding:20px 0 30px;}
.confidence .icon-img, .convenience .icon-img, .value-money .icon-img{width:100%;margin-top:0;margin-bottom:30px;}
.confidence .width65, .convenience .width65, .value-money .width65{width:100%;margin-left:0;}
.blog-banner h3{min-height:auto;}
footer .footer-text{color:#fff;font-size:12px;line-height:18px;margin-bottom:20px;text-align:justify;}
.sim-area .col-centered{margin-bottom:12px;min-height:100px;}
footer .navbar-nav .fa{background:none;}
.footer-upper ul li a{font-size:14px;border-top:1px solid #4f4f4f;}
.footer-upper .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{border-top:1px solid #4f4f4f;}
.footer-upper .navbar-collapse{box-shadow:none;}
.footer-upper .navbar-nav{margin:0 auto;}
.footer-upper .navbar-collapse ul li{border-top:1px solid #4f4f4f;margin-bottom:0;}
footer .nav>li>a:hover, footer .nav>li>a:focus, footer .nav .open>a, footer .nav .open>a:hover, footer .nav .open>a:focus{background:none;}
.footer-upper ul li .dropdown-menu li{border:none;padding:5px 0;}
.footer-upper ul li .dropdown-menu li h6{color:#fff;}
footer .social-part{border-top:1px solid #4f4f4f;text-align:center;}
footer .social-part li{margin-top:15px;margin-bottom:0;}
footer .social-part li .text, footer .social-part li .icon{float:left;}
.social-part li .icon{text-align:right;width:42%;margin-right:2%;}
footer .social-part li .text{text-align:left;width:56%;color:#a0a0a0;font-size:14px;font-weight:bold;line-height:20px;}
.offer-details .text1{margin-top:20px;margin-bottom:20px;}
.partner .bx-viewport{width:86% !important;margin:0 7%;}
.partner .bx-viewport ul li{width:50%;}
.request-btn-part{bottom:20px;}
.request-btn{font-size:14px;padding:10px 18px;}
.right-offers .offer-details .buy-btn{margin-top:40%;}
.lightBG .border-bottom, .deepBG .border-bottom{width:15%;}
.lightBG .border-bottom{margin:10px auto 35px;}
.deepBG .border-bottom{margin:10px auto 35px;}
}
.quick-pay-popup h3{text-align:center;font-size:28px;font-weight:normal;}
.marginB20{margin-bottom:20px;}
.quick-pay-popup{min-height:420px;}
.login-d a{color:#000;}
.bx-controls .bx-controls-direction .bx-prev{background:url(../img/client/prev-1.png) no-repeat 0;width:28px;height:38px;display:inline-block;white-space:nowrap;text-indent:-9999px;position:absolute;left:4%;top:44%;}
.bx-controls .bx-controls-direction .bx-next{background:url(../img/client/next-1.png) no-repeat 0;width:28px;height:38px;display:inline-block;white-space:nowrap;text-indent:-9999px;position:absolute;right:4%;top:44%;}
.partner .well{padding:50px 20px;position:relative;}
.plan-loader{position:fixed;top:40%;left:0;right:0;margin:0 auto;text-align:center;z-index:99999;}
.plan-overlay{position:fixed;width:100%;height:100%;background:#000;z-index:9999;opacity:0.5;}
#accordion2 .panel{border:none;box-shadow:none;}
.offers .carousel-control:hover, .offers .carousel-control:focus, .offers .carousel-control{opacity:1;}
.sim-area{padding:36px 0 24px 0;position:relative;text-align:center;background:#fff;}
.sim-area h3{font-size:20px;color:#3b3b3b;text-align:center;margin-bottom:39px;}
.sim-area .col-centered{text-align:center;margin-bottom:6px;}
.sim-area .col-centered .country-icon{min-height:69px;}
.sim-area .country-icon h5{color:#767676;margin:12px 0 12px 0;line-height:19px;font-size:13px;}
.faq-icon{margin:0;}
.home-offer-more a{color:#fff;}
.call-btn{position:fixed;bottom:20px;right:20px;}
.footer-lower .fa{background:none;}
#carousel1 .black-cover{display:none;}
#carousel1 .owl-item.active .black-cover{display:block;}
.black-cover{position:absolute;background:rgba(0,0,0,.01);padding:100%;width:100%;top:0;}
.speck-content #trm-1-short{margin-bottom:10px;}
.plan-cname{font-size:11px;font-weight:normal;}
.plan-terms{text-align:left;}
#header_request_call_error_name{color:#000;position:absolute;left:14px;z-index:1;top:40px;border-radius:2px;background:#fff;font-size:12px;padding:8px 15px;border:1px solid #bababa;}
#header_request_call_error_mobname{color:#000;position:absolute;left:14px;z-index:1;top:40px;border-radius:2px;background:#fff;font-size:12px;padding:8px 15px;border:1px solid #bababa;}
#header_request_call_error_email{color:#000;position:absolute;left:14px;z-index:1;top:40px;border-radius:2px;background:#fff;font-size:12px;padding:8px 15px;border:1px solid #bababa;}
#header_request_call_error_query{color:#000;position:absolute;left:14px;z-index:1;top:40px;border-radius:2px;background:#fff;font-size:12px;padding:8px 15px;border:1px solid #bababa;}
#prepaid_error_mobname{color:#000;position:absolute;left:14px;z-index:1;top:40px;border-radius:2px;background:#fff;font-size:12px;padding:8px 15px;border:1px solid #bababa;}
#prepaid_error_email{color:#000;position:absolute;left:14px;z-index:1;top:40px;border-radius:2px;background:#fff;font-size:12px;padding:8px 15px;border:1px solid #bababa;}
#postpaid_error_email{color:#000;position:absolute;left:14px;z-index:1;top:40px;border-radius:2px;background:#fff;font-size:12px;padding:8px 15px;border:1px solid #bababa;}
#order_error_email{color:#000;position:absolute;left:14px;z-index:1;top:40px;border-radius:2px;background:#fff;font-size:12px;padding:8px 15px;border:1px solid #bababa;}
#menu-country-more{text-decoration:underline;}
.banner_fill button{border-radius:4px;margin:8px 36px 0px 0;font-size:12px;padding:12px 21px;box-shadow:-1px 2px 8px #ccc;}
.banner_fill{width:27%;position:absolute;top:46px;right:76px;background:#ffffff;border-radius:6px;padding:26px;}
.box{position:relative;margin:auto;height:410px;top:40px;left:0;z-index:200;right:0;width:400px;color:#666;border-radius:3px;background:#FFF;margin-bottom:100px;box-shadow:0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);overflow:hidden;}
#bottom-head{position:relative;background:#00796b;height:35px;}
#bottom-head::after{content:'';width:0px;height:0px;display:block;position:absolute;margin:auto;left:0;right:0;bottom:0;border-bottom:7px solid white;border-right:7px solid transparent;border-left:7px solid transparent;border-top:7px solid transparent;}
.box h1{margin-left:20px;margin-top:0;font-size:24px;font-weight:300;color:#cfd8dc;line-height:35px;}
.box button{background:#cfd8dc;border:0;color:#D40003;padding:10px;font-size:16px;font-weight:300;width:100%;margin:20px auto;display:block;cursor:pointer;-webkit-transition:all 0.4s;transition:all 0.4s;border-radius:2px;}
.box button:active{background:#D40003;color:#263238;}
.box button:hover{background:#D40003;color:#FFF;-webkit-transition:all 0.4s;transition:all 0.4s;}
.box p{font-size:14px;text-align:center;}
.banner_fill .group{position:relative;margin-bottom:10px;margin-right:24px;width:100%;float:left;}
.inputMaterial{font-size:18px;padding:10px 10px 10px 5px;display:block;width:100%;border:none;border-bottom:1px solid #b3b3b3;}
.inputMaterial:focus{outline:none;}
label{color:#999;font-size:14px;font-weight:normal;position:absolute;pointer-events:none;left:5px;top:10px;transition:0.2s ease all;-moz-transition:0.2s ease all;-webkit-transition:0.2s ease all;}
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label{top:-6px;font-size:12px;color:#D40003;}
.banner_fill .bar{position:relative;display:block;width:100%;}
.bar:before, .bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:#D40003;transition:0.2s ease all;-moz-transition:0.2s ease all;-webkit-transition:0.2s ease all;}
.bar:before{left:50%;}
.bar:after{right:50%;}
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after{width:50%;}
.inputMaterial:focus ~ .highlight{-webkit-animation:inputHighlighter 0.3s ease;-moz-animation:inputHighlighter 0.3s ease;animation:inputHighlighter 0.3s ease;}
@-webkit-keyframes inputHighlighter{from{background:#5264AE;}
to{width:0;background:transparent;}
}
@-moz-keyframes inputHighlighter{from{background:#5264AE;}
to{width:0;background:transparent;}
}
@keyframes inputHighlighter{from{background:#5264AE;}
to{width:0;background:transparent;}
}
@keyframes bounce-nds{from{opacity:0;}
to{opacity:1;transform:scale(1);}
}
@keyframes bounce-out-nds{from{opacity:1;transform:scale(1);}
to{opacity:0;transform:scale(0);}
}
.breadcumbs a{font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;}
.banner_fill button{border-radius:4px;margin:8px 36px 0px 0;font-size:12px;padding:12px 21px;box-shadow:-1px 2px 8px #ccc;}
.banner_fill{width:27%;position:absolute;top:46px;right:76px;background:#ffffff;border-radius:6px;padding:26px;}
.box{position:relative;margin:auto;height:410px;top:40px;left:0;z-index:200;right:0;width:400px;color:#666;border-radius:3px;background:#FFF;margin-bottom:100px;box-shadow:0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);overflow:hidden;}
#bottom-head{position:relative;background:#00796b;height:35px;}
#bottom-head::after{content:'';width:0px;height:0px;display:block;position:absolute;margin:auto;left:0;right:0;bottom:0;border-bottom:7px solid white;border-right:7px solid transparent;border-left:7px solid transparent;border-top:7px solid transparent;}
.box h1{margin-left:20px;margin-top:0;font-size:24px;font-weight:300;color:#cfd8dc;line-height:35px;}
.box button{background:#cfd8dc;border:0;color:#D40003;padding:10px;font-size:16px;font-weight:300;width:100%;margin:20px auto;display:block;cursor:pointer;-webkit-transition:all 0.4s;transition:all 0.4s;border-radius:2px;}
.box button:active{background:#D40003;color:#263238;}
.box button:hover{background:#D40003;color:#FFF;-webkit-transition:all 0.4s;transition:all 0.4s;}
.box p{font-size:14px;text-align:center;}
.banner_fill .group{position:relative;margin-bottom:10px;margin-right:24px;width:100%;float:left;}
.inputMaterial{font-size:18px;padding:10px 10px 10px 5px;display:block;width:100%;border:none;border-bottom:1px solid #b3b3b3;}
.inputMaterial:focus{outline:none;}
label{color:#999;font-size:14px;font-weight:normal;position:absolute;pointer-events:none;left:5px;top:10px;transition:0.2s ease all;-moz-transition:0.2s ease all;-webkit-transition:0.2s ease all;}
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label{top:-6px;font-size:12px;color:#D40003;}
.banner_fill .bar{position:relative;display:block;width:100%;}
.bar:before, .bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:#D40003;transition:0.2s ease all;-moz-transition:0.2s ease all;-webkit-transition:0.2s ease all;}
.bar:before{left:50%;}
.bar:after{right:50%;}
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after{width:50%;}
.inputMaterial:focus ~ .highlight{-webkit-animation:inputHighlighter 0.3s ease;-moz-animation:inputHighlighter 0.3s ease;animation:inputHighlighter 0.3s ease;}
@-webkit-keyframes inputHighlighter{from{background:#5264AE;}
to{width:0;background:transparent;}
}
@-moz-keyframes inputHighlighter{from{background:#5264AE;}
to{width:0;background:transparent;}
}
@keyframes inputHighlighter{from{background:#5264AE;}
to{width:0;background:transparent;}
}
@keyframes bounce-nds{from{opacity:0;}
to{opacity:1;transform:scale(1);}
}
@keyframes bounce-out-nds{from{opacity:1;transform:scale(1);}
to{opacity:0;transform:scale(0);}
}
.form-material .floating-label{left:15px !important;}
.form-material.floating+.form-material.floating{margin-top:20px !important;}
.form-konnect{top:93px !important;right:58px !important;}
.planCol{padding:4px 0 30px 0px;margin:0px;position:relative;overflow:hidden;}
.footer-lower .col-sm-12 .left {
     text-align: right;
    width: 60%;
}

ul.rightEC.mobile-alig {
    display: none;
}