@charset "utf-8";
/* CSS Document */
.plan-banner .dddemo {width:100%; max-width:100%;}

.planinnJumper {left:6%; top:46px; display:block; height:auto; margin:0; padding:20px; color:#FFF; font-size:27px; font-weight:300;
position:absolute; min-width:350px; z-index:1;}
.planinnJumper h1 {font-size:44px; letter-spacing:-2px; color:#464646; font-weight:500; position:relative; padding-bottom:24px; margin-bottom:19px;}
.planinnJumper h1::after {content:''; background:url(../images/bottom-border.jpg) repeat-x left bottom; height:6px; width:95%; position:absolute; left:0; bottom:0; }
.planinnJumper h3 {font-size:24px; font-weight:300; margin-bottom:14px;}
.planinnJumper h2 {line-height:37px; font-size:28px; margin-bottom:36px; font-family: 'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif; color:#7d7d7d;}
.planinnJumper h2 span {font-family: 'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif; font-weight:bold; color:#2e2e2e;}





.planinnJumper h4 {font-size:21px; font-weight:500; vertical-align:bottom; margin-top:46px;}
.planCol {padding:4px 0 30px 0px; margin:0px; position:relative; overflow:hidden;}
.top-filter {position:relative; margin:0; overflow:hidden;}
.top-filter .fl-1 {float:left; width:8%; color:#a6a6a6; font-size:13px; font-weight:400;  font-family: 'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;}
.top-filter .fl-2 {float:left; width:92%;}
.clear-filter {float:right; outline:0; border:1px solid #bcbcbc; color:#858484; font-size:12px; padding:8px 13px;}
.clear-filter:hover {outline:0; border:1px solid #cf302a;}
.clear-filter:focus {outline:0; border:1px solid #cf302a; color:#cf302a;}
.fl-2 .filter-dropdown {float:left; position:relative; width:20%; margin-right:26px; font-family: 'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;}
.fl-2 .filter-dropdown::after {content:''; background:#949494; position:absolute; height:22px; width:1px; top:0; right:0;  }
.fl-2 .filter-dropdown:last-child:after {content:''; background:#fff;}
.filter-dropdown .drop-icon {float:left;}
.filter-dropdown .drop-a {float:left; position:relative;     width:72%; margin-left:4px;}
.filter-dropdown .drop-a span {font-size:14px; color:#666666; font-weight:bold; margin-left:6px; letter-spacing:1px;}
.filter-dropdown .drop-a select {background:rgba(255, 255, 255, 0) url(../img/ar.png) no-repeat top right !important; border:0; 
padding:24px 0 4px 8px; margin-top:-20px; height:auto; font-size:10px; letter-spacing:normal; color:#9e9e9e; text-transform: uppercase;}
.filter-dropdown .drop-a select option {line-height:30px;}
.filter-border {border-bottom:1px solid #e8e8e8; padding-bottom:0px;}

.filter-search {position:relative; margin:12px 0; padding:0;}
.filter-search .table {border:0;}
.filter-search .table > thead {}
.filter-search .table > thead > tr > th {vertical-align:middle; background:#e1e1e1; color:#2e2e2e; font-size:13px; font-weight:bold; padding:7px 8px;}
.filter-search .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th {border:1px solid #ececec;}
.filter-search .table-head {display:block; border:1px solid #d4d4d4; width:100%;}

.filter-search .table-body {display:inline-block; margin-top:16px; width:100%; text-align:center; color:#000000; font-weight:500;}

.filter-search .table-body .table-toplist {width:100%; display:block; border-bottom:1px solid #f30; padding:0; text-align:center;}
.filter-search .table-body .addon-area {width:100%; display:block; border-top: 1px solid #eeeeee !important; padding-bottom:0;}



.table-a {width:169px;} .table-b {width:476px;} .table-c {width:433px;} .table-d {width:179px;} 
.table-aa {width:156px; text-align:center; padding:16px !important; font-size:13px;} 
.table-bb {text-align:left; width:439px; padding:16px !important;} 
.table-cc {width:399px; text-align:left; padding:16px !important;} 
.table-dd {width:166px; text-align:center; padding:16px !important;} 
.table-cc p {font-weight:300; font-size:13px; margin-bottom:6px;}
.table-aa span {display:block; color:#949494; font-weight:normal;}
.table-aa img {display:block; margin:auto; text-align:center; width:46px; margin-top:19px; margin-bottom:16px; }
.table-bb p {font-weight:300; font-size:13px; margin-bottom:6px; color:#666;}
.table-bb p b {color:#000;}
.table-dd .table-btn {background:#cf302a; color:#fff; text-align:center; font-size:16px; padding:8px 14px; width:129px; border-radius:3px; display:block;
margin:auto; margin-top:12px;}
.table-dd p {margin-bottom:0; color:#cf302a; font-size:19px; margin-top:3px;}
.table-dd span {text-decoration:line-through; font-size:15px; color:#9a9a9a; letter-spacing:1px;}
.table-dd span .fa {text-decoration:line-through;}







.table-e {width:163px;} .table-f {width:141px;} .table-g {width:142px;} .table-h {width:136px;} 






.table-ee {width:163px;  border:0 !important; text-align:center;} 
.table-ff {width:141px;  border:0 !important; text-align:center;} 
.table-gg {width:142px; font-size:16px; font-weight:bold; color:#cf302a;  border:0 !important; text-align:center;} 
.table-hh {width:136px;  border:0 !important; text-align:center;}


.addon-aa {width:199px; text-align:left; border:0 !important; font-size:11px; color:#323232; font-weight:normal; padding-left:12px !important; float:left;} 
.addon-bb {text-align:left; width:142px;  border:0 !important; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-cc {width:96px;  border:0 !important; text-align:left; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-dd {width:139px;  border:0 !important; text-align:left; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-ee {width:406px;  border:0 !important; text-align:left; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-ff {width:39px;  border:0 !important; text-align:left; font-size:11px; color:#323232; font-weight:normal; float:left;} 
.addon-gg {width:108px; font-size:16px; font-weight:bold; color:#cf302a;  border:0 !important; text-align:left;  float:left;} 

.acc-full {width:100%; margin-top: 12px;}
.acc-full .check-area {float:left; padding-left:4px; width:86px; font-size:13px; font-weight:bold; color:#8f8f8f;}
.acc-full .check-area1 {display:inline-block; font-size:11px;     float: left; width:23%; text-align:left;}
.acc-full .check-area1 input {display:inline-block; float:left; margin-right:6px;  margin-top:2px;}

.addon-area #accordion .panel-heading { padding: 0;}
.addon-area #accordion .panel-title > a {display:block;	padding:0.4em 0.6em; outline:none; font-weight:bold; text-decoration:none;}

.addon-area #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  { content:"-"; float:right;
font-family: 'FontAwesome'; position:absolute; right:9px;}
.addon-area #accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {content:"+"; }
.addon-area .panel-body {padding-bottom:0;}

.addon-btn {border:1px solid #7c7c7c; text-align:center; color:#7c7c7c; border-radius:2px; padding:4px 19px 4px 10px; position:relative; float:right; font-weight:normal; font-size:12px;     margin-right: 7px;}
.addon-btn:hover {border:1px solid #7c7c7c;}
.addon-btn:focus {border:1px solid #7c7c7c;}

.table-gg .fa {font-weight:normal;}
.table-gg span {font-size:12px; color:#3a3a3a; text-decoration:line-through;}
.table-gg span .fa {font-weight:normal; text-decoration:line-through;}

.filter-search .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {background:#fff;  border:0 !important;    line-height: normal;}
.table-btn {background:#cf302a; color:#fff; text-align:center; font-size:14px; padding:8px 14px; }
.table-btn:hover {color:#fff;}
.filter-search .table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {vertical-align:middle; padding:12px 1px;}
.filter-search .table small {font-size:10px;}

.offer-content {margin:26px 0; padding:0; position:relative;}
.offer-content h3 {font-size:20px; color:#3b3b3b; text-align:center;}
.offer-content p {color:#747474; font-size:14px; text-align:justify; line-height:21px; margin-bottom:6px;}

.faq-content {margin-bottom:26px; padding:0; position:relative;}
.faq-content h3 {font-size:20px; color:#3b3b3b; text-align:center;}



.advant-area {padding:36px 0 24px 0; position:relative; text-align:center; background:#fafafa;}
.advant-area h3 {font-size:20px; color:#3b3b3b; text-align:center; margin-bottom:39px; }
.advant-area .col-centered {text-align:center; margin-bottom:6px;}
.advant-area .col-centered .advant-icon {min-height:82px;}
.advant-area .advant-icon h5 {color:#767676; margin:16px 0 12px 0; line-height:19px; letter-spacing:0.6px;}

.sim-area {padding:36px 0 24px 0; position:relative; text-align:center; background:#fff;}
.sim-area h3 {font-size:20px; color:#3b3b3b; text-align:center; margin-bottom:39px; }
.sim-area .col-centered {text-align:center; margin-bottom:6px; }
.sim-area .col-centered .country-icon {min-height:69px;}
.sim-area .country-icon h5 {color:#767676; margin:12px 0 12px 0; line-height:19px; font-size:13px;}

@media screen and (min-width:993px) {
.sim-area .col-centered {width:20%;}	
}
@media screen and (min-width:601px) {
.plan-banner .dddemo {display:block;}
.plan-banner .mob-banner {display:none;}
.mob-morebtn  {display:none;}
}
@media screen and (min-width:768px) and (max-width:992px)  {
.planinnJumper {left:0; top:0; }
.plan-banner .dddemo {height:299px;}
.container {max-width:100%;}
}
@media screen and (min-width:993px) and (max-width:1200px)  {
.planinnJumper {left:0; top:0; }
.plan-banner .dddemo {height:299px;}
.container {max-width:100%;}
}
@media screen and (max-width:767px) {
.sim-area .col-centered {margin-bottom:12px;}
.advant-area .col-centered .advant-icon {min-height:109px;}
.advant-area .advant-icon h5 br {display:none;}
.planinnJumper {top:0; left:0;}
.planinnJumper h1 {font-size:32px; width:64%;}
.planinnJumper h2 {line-height:24px; font-size:17px; width:47%;}
.plan-banner .dddemo {height:309px;}
.planinnJumper h1::after {width:56%;}
.planinnJumper h4 {font-size:15px;}
.top-filter .fl-2{width:100%}
.top-filter .fl-2 .filter-dropdown{width:45%; margin-right:10px; min-height:55px;}
.filter-dropdown .drop-a span{margin-left: 0;}
.top-filter .fl-2 .filter-dropdown .drop-a select{padding: 24px 0 4px 40px;}
}
@media screen and (max-width:600px) {
.planinnJumper h1 {width:294px; font-size:24px; padding-bottom:16px; margin-bottom:9px;}
.planinnJumper h1::after {width:41%;}
.planinnJumper h2 {width:189px; line-height:19px; font-size:15px;}
.plan-banner .dddemo {display:none;}
.plan-banner .mob-banner {display:block; height:276px; width:100%;}	
.mob-morebtn {display:block; text-align:center; background:#ee1e14; color:#fff; font-size:16px; width:136px; padding:9px 0; margin-top:39px;}
.planinnJumper h4 {margin-top:12px;}
}
.pincode-pop button.check_button{margin:0 0 0 10px;padding:16px 29px;letter-spacing:2px;}
.pincode-pop #deliveryError,.pincode-pop #deliverySuccess{display:none;}
.pincode-pop #deliveryError .msg-error{color:#E04A4B;}
.pincode-pop #deliverySuccess .msg-error{color:#505050;}
.pincode-pop #load-active{width:14px;position:absolute;top:18px;margin-left:54px;display:none;}

 
