
.owl-theme .owl-controls{margin-top:0px; text-align: center;}

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF; display: inline-block; zoom: 1;
	*display: inline;/*IE7 life-saver */ margin:0px;
	padding: 3px 0px; font-size: 12px;
	filter: Alpha(Opacity=60);/*IE7 fix*/ opacity: ;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=80);/*IE7 fix*/ opacity:0.8; text-decoration: none;
} 

.owl-prev{
	position:absolute; right:95px; bottom:50px; height:24px; width:14px; text-indent:-99999px;
	background:url(../images/prev-arrow.png) 0 0 no-repeat;	
	}
.owl-next{
	position:absolute; right:50px; bottom:50px; height:24px; width:14px; text-indent:-99999px;
	background:url(../images/next-arrow.png) 0 0 no-repeat;
	}
	
.S-slider .owl-prev{width:34px;}
.S-slider .owl-next{width:34px;}


/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../img/ui/AjaxLoader.gif) no-repeat center center
}

.owl-pagination{display:none;}

@media screen and (max-width:600px) {
.owl-theme .owl-controls .owl-buttons div{display:none;}

}