    
	   
	    <style>
         body { width: 100%!important; height: 100%; background: #e6e6e6; color: #333333; font-family: 'Roboto', sans-serif; margin: 0px; font-size: 13px; }
         img{max-width: 100%; }
         a { color: #e6e6e6;}
         .btn {text-decoration:none; color: #FFF; background-color: #d2070c; padding:13px 30px; text-align:center; cursor:pointer; display: inline-block; margin: 5px 0px; font-size: 15px; }
         a.fb { background-color: #3B5998!important; }
         table.head-wrap { width: 100%;}
         table.body-wrap { width: 100%;}
         table.footer-wrap { width: 100%;	clear:both!important; }
         .footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
         .footer-wrap .container td.content p {  font-size:10px; font-weight: bold; }
         .container { display:block!important;  max-width:600px!important; margin:0 auto!important;  clear:both!important; }
         .content { padding:10px; max-width:650px; margin:0 auto; display:block; }
         .content table { width: 100%; }
         .table-txt{ color: #ffffff; font-size:14px; font-weight: bold;}
         .clear { display: block; clear: both; }
          
         @media only screen and (max-width: 600px) {
         a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}
         div[class="column"] { width: auto!important; float:none!important;}
         .download img{margin-bottom: 10px;}
         }    
      </style>
	   
	   
	   
      <table class="body-wrap" style="width:600px !important;">
         <tr>
            <td class="container" bgcolor="#FFFFFF">
               <img src="http://prod.roam1.com/public/images/emails/konnect/head.jpg" />
            </td>
         </tr>
          
         <tr>
            <td class="container" bgcolor="#FFFFFF">
               <div class="content">
                  <table>
                     <tr>
                        <td>
                           <p style="text-align:center; color:#3d3c3c; font-size: 15px; line-height: 25px;"><strong>Roam1</strong> presents the USA SIM Card, available at a special discounted price from <strong>23rd to 26th May</strong>. With unlimited calls, SMS and fast data, this card makes keeping in touch while exploring the US, easy and economical.</p>
                            
                            <table width="100%" border="0"  cellspacing="0" bgcolor="#d2070c" cellpadding="00" style="color:#fff; border: #d2070c 1px solid;">
                                 <tr>
                                   <td width="16%" height="40" bgcolor="#d2070c" align="center" style="border-right:#333 1px solid;"><strong>Card Type</strong></td>
                                   <td width="16%" height="40" bgcolor="#d2070c" align="center" style="border-right:#333 1px solid;"><strong>Plan Amount</strong></td>
                                   <td width="16%" height="40" bgcolor="#d2070c" align="center" style="border-right:#333 1px solid;"><strong>Plan Validity</strong></td>
                                   <td width="52%" height="40" bgcolor="#d2070c" align="center" colspan="4"><table>
                                                <tr>
                                                    <td align="center" height="40"><strong>Incoming</strong></td>
                                                    <td align="center" height="40"><strong>Local Calls</strong></td>
                                                    <td align="center" height="40"><strong>India Minutes</strong></td>
                                                    <td align="center" height="40"><strong>Local SMS</strong></td>
                                                    <td align="center" height="40"><strong>Int'l SMS</strong></td>
                                                </tr>
                                        </table></td>

                                 </tr>
                                 <tr>
                                   <td height="50" align="center" bgcolor="#ffffff" style="color:#333; border-right:#333 1px solid; border-bottom:#333 1px solid; font-size:14px;">USA</td>
                                   <td align="center" bgcolor="#ffffff" style="color:#d20005; font-weight:700; border-right:#333 1px solid; border-bottom:#333 1px solid; font-size:14px;"><small style="text-decoration: line-through; color:#333;">&#8377; 2,499</small><br>
                                       &#8377; 1,499</td>
                                   <td align="center" bgcolor="#ffffff" style="color:#333; border-right:#333 1px solid; border-bottom:#333 1px solid; font-size:14px;">30 Days</td>
                                   <td align="center" bgcolor="#ffffff" style="color:#333; border-bottom:#333 1px solid; font-size:14px;" colspan="4"><strong>Unlimited</strong></td>
                                   
                                 </tr>
                                 <tr>
                                   <td align="center" height="35" bgcolor="#ffffff" style="color:#333; font-size:14px;" colspan="8">
                                         <strong><span style="color:#d2070c;">Data:</span> 1 GB (4G), then Unlimited @ 2G</strong>
                                     </td>

                                 </tr>
                                </table>
                            
                        
                        </td>
                     </tr>
                      <tr>
                        <td><p style="text-align:center;">This plan is available for purchase on our website only.</p></td>
                      </tr>
                     <tr>
                        <td align="center"><a href="https://www.roam1.com/usa-international-sim-card" target="_blank" class="btn">Buy Now</a> <a href="https://www.roam1.com/usa-international-sim-card" target="_blank" style="font-size:12px; margin-left:10px; text-decoration:none; color:#333;">*T&C Apply</a></td>
                         
                     </tr>
                      <tr>
                        <td style="text-align:center;"><p>You can also write to our helpdesk through the
                             <a href="https://www.roam1.com" target="_blank" style="color:#333; text-decoration:none;"><strong>Roam1</strong></a> website or call us on 
<a href="#" style="text-decoration:none; color:#d2070c; font-weight: bold;">7042696116.</a></p></td>
                      </tr>
                  </table>
               </div>

                
                <table bgcolor="#272727" width="100%">
                  <tr>
                     <td style="padding:10px;" width="34%">
                        <div style=" font-size:12px; color:#b5b4b4"><a href="https://www.roam1.com" style="text-decoration: none; font-weight: normal;">www.roam1.com</a></div>
                     </td>
                      <td width="33%" align="right" style="color:#b5b4b4;">Follow us on:</td>
                      <td width="10%" align="right" style="color:#b5b4b4; padding-right:12px;"><a href="https://www.facebook.com/Roam1Telecom/"><img src="http://prod.roam1.com//public/images/emails/konnect/fb.jpg" alt=""></a> <a href="https://www.facebook.com/Roam1Telecom/"><img src="http://prod.roam1.com//public/images/emails/konnect/linkedin.png" alt=""></a></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
