body {
	margin: 0;
	padding: 0;
	clear: both;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
}
.contanier {
	width: 600px;
	margin: auto;
	border: solid 1px #bfbfbf;
}
.top-hadding {
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 20px 5px;
	text-align: center;
}
.top-img {
	background: #f2f2f2;
}
.about-hadding {
	padding: 0 15px;
}
.about-hadding h2 {
	margin: 0;
	padding: 10px 0 0;
	font-size: 15px;
	color: #ff0000;
}
.about-hadding p {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	text-align: justify;
}
ul.order-list {
	margin: 0 0 15px;
}
.order-list li {
	line-height: 24px;
	font-size: 16px;
	color: #000;
}
.wapper-bg {
	background: #f2f2f2;
	padding-bottom: 15px;
}
.footer {
	background: #ff0000;
}
.footer span {
	display: block;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 7px 15px;
	text-align: center;
}
.about-hadding p a {
	color: #4187ce;
}
.table-responsive {
	padding: 0 40px;
}
.table-responsive table {
	border: solid 1px #ff0000;
	width: 100%;
}
.table-responsive table thead {
	background: #ff0000;
}
.country-table {
	width: 100%;
	padding-top: 10px;
}
.table-responsive table thead tr th {
	color: #fff;
	padding: 5px;
	font-size: 15px;
}
.table-responsive table tbody tr td {
	color: #000;
	padding: 5px;
	font-size: 12px;
	border: solid 0.5px #ff0000;
}
.table-bottom-text {
	font-size: 14px;
	line-height: 20px;
	padding-top: 2px;
}
