@charset "utf-8";
/* CSS Document */
.del-form{ width:20px; display:inline-block;}
.del-btn{border: 0;background: transparent;color: #3c8dbc;}
.ptop7 { padding-top:7px; }
.ajax_loader{width: 19px; float:right;}

.required:after {
    position:absolute;
    content:'*';
    color:red;
    top:0;
}
.marginR10{ margin-right:10px; }
