body { width: 100%!important; height: 100%; background: #e6e6e6; color: #333333; font-family: 'Roboto', sans-serif; margin: 0px; font-size: 13px; }
img{max-width: 100%; }
a { color: #e6e6e6;}
.btn {text-decoration:none; color: #FFF; background-color: #d2070c; padding:13px 30px; text-align:center; cursor:pointer; display: inline-block; margin: 5px 0px; font-size: 15px; }
a.fb { background-color: #3B5998!important; }
table.head-wrap { width: 100%;}
table.body-wrap { width: 100%;}
table.footer-wrap { width: 100%;	clear:both!important; }
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {  font-size:10px; font-weight: bold; }
.container { display:block!important;  max-width:600px!important; margin:0 auto!important;  clear:both!important; }
.content { padding:10px; max-width:650px; margin:0 auto; display:block; }
.content table { width: 100%; }
.table-txt{ color: #ffffff; font-size:14px; font-weight: bold;}
.clear { display: block; clear: both; }

@media only screen and (max-width: 600px) {
a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}
div[class="column"] { width: auto!important; float:none!important;}
.download img{margin-bottom: 10px;}} 